rules/cenbii-trdm068-3.0/schematron/UBL/BIIRULES-UBL-T68.sch

<!-- Schematron binding rules automatically generated by Validex Generator Midran ltd -->
<!-- Data binding to UBL syntax for T68 -->
<!-- Timestamp: 2015-11-25 14:13:14 +0100 -->
<pattern xmlns="http://purl.oclc.org/dsdl/schematron" is-a="T68" id="UBL-T68">
  <param name="BII3-T68-R001" value="(cbc:CustomizationID)"/>
  <param name="BII3-T68-R002" value="(cbc:ProfileID)"/>
  <param name="BII3-T68-R003" value="(cbc:ID)"/>
  <param name="BII3-T68-R004" value="(cac:ReferencedContract/cac:ContractDocumentReference/cbc:ID)"/>
  <param name="BII3-T68-R005" value="(cbc:IssueDate)"/>
  <param name="BII3-T68-R006" value="(cac:ValidityPeriod)"/>
  <param name="BII3-T68-R007" value="(cbc:StartDate) and (cbc:EndDate)"/>
  <param name="BII3-T68-R008" value="(cac:ProviderParty)"/>
  <param name="BII3-T68-R009" value="(cac:ReceiverParty)"/>
  <param name="BII3-T68-R010" value="(cac:CatalogueLine)"/>
  <param name="BII3-T68-R011" value="(cbc:ID)"/>
  <param name="BII3-T68-R012" value="(cac:Item)"/>
  <param name="BII3-T68-R013" value="(cbc:Name)"/>
  <param name="BII3-T68-R014" value="(cbc:ItemClassificationCode)"/>
  <param name="BII3-T68-R015" value="(cbc:Name) and (cbc:Value)"/>
  <param name="BII3-T68-R016" value="(cbc:StartDate) and (cbc:EndDate)"/>
  <param name="BII3-T68-R017" value="(cbc:StartDate) and (cbc:EndDate)"/>
  <param name="BII3-T68-R018" value="((cbc:AttributeID = 'HUM') and (cbc:MinimumMeasure &lt;= cbc:MaximumMeasure)) or not(cbc:AttributeID = 'HUM')"/>
  <param name="BII3-T68-R019" value="((cbc:AttributeID = 'TEM') and (cbc:MinimumMeasure &lt;= cbc:MaximumMeasure)) or not(cbc:AttributeID = 'TEM')"/>
  <param name="BII3-T68-R020" value="(cbc:StartDate) &lt;= (cbc:EndDate)"/>
  <param name="BII3-T68-R021" value="(cbc:StartDate) &lt;= (cbc:EndDate)"/>
  <param name="BII3-T68-R022" value="(cbc:MinimumOrderQuantity &lt;= cbc:MaximumOrderQuantity)"/>
  <param name="BII3-T68-R023" value="(cbc:StartDate) &lt;= (cbc:EndDate)"/>
  <param name="BII3-T68-R025" value="@listID = 'ISO3166-1:Alpha2'"/>
  <param name="BII3-T68-R026" value="@listID = 'UNCL1001'"/>
  <param name="BII3-T68-R028" value="@listID = 'UNCL1001'"/>
  <param name="BII3-T68-R029" value="@listID='UNCL8273'"/>
  <param name="BII3-T68-R030" value="@listID='UNCL5387'"/>
  <param name="ValidityPeriod" value="//cac:ValidityPeriod"/>
  <param name="PreawardCatalogueLine" value="//cac:CatalogueLine"/>
  <param name="ItemClassification" value="//cac:CommodityClassification"/>
  <param name="ItemProperty" value="//cac:AdditionalItemProperty"/>
  <param name="LineValidityPeriod" value="//cac:ItemSpecificationDocumentReference/cac:ValidityPeriod"/>
  <param name="PriceValidityPeriod" value="//cac:Price/cac:ValidityPeriod"/>
  <param name="HandlingUnit" value="//cac:Dimension"/>
  <param name="CountryCode" value="//cac:CountryCode/cbc:IdentificationCode"/>
  <param name="DocumentType" value="//cbc:DocumentTypeCode"/>
  <param name="ContractType" value="//cbc:ContractTypeCode"/>
  <param name="UNDGCode" value="//cbc:UNDGCode"/>
  <param name="Item" value="//cac:Item"/>
  <param name="PriceType" value="//cbc:PriceTypeCode"/>
  <param name="PreawardCatalogue" value="/ubl:Catalogue"/>
</pattern>
